<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oline Shop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.rtl.min.css" integrity="sha384-+4j30LffJ4tgIMrq9CwHvn0NjEvmuDCOfk6Rpg2xg7zgOxWWtLtozDEEVvBPgHqE" crossorigin="anonymous">
    <style>
        .controllers-svg {
    width: 30px;
  }
  .point:hover{
      cursor: pointer;
  }
  .our-product {
    width: 350px;
  }
  
  #header {
    background-color: gray;
    color: #f5f6fa;
  }
    </style>
</head>
<body>
    <div id="app">
        <div class="container">
            <div id="header" class="my-2 p-3">
                <div class="row justify-content-between align-items-baseline">
                    <a  class="col" href="#" @click.prevent="isvisable = false" style="color: yellow; text-decoration:none; font-size:25px; ">Products</a>
                    
                    <div class="col d-flex justify-content-evenly align-items-baseline">
                        <p>[{{ Object.keys(cart.items).length }}] <span v-if="Object.keys(cart.items).length > 1 || ! Object.keys(cart.items).length">items</span> <span v-else>item</span> with total price [{{ cart.totalCost }} $]</p>
                        <button v-if="isProducts" class="btn btn-primary" @click="isvisable = true">Show Cart!</button>
                       
                    </div>
                </div>
            </div>
            <div v-if="isvisable == false" id="products-section">
                <div class="d-flex flex-row flex-wrap justify-content-around align-items-baseline">
                    <div v-for="product in products" class="card our-product m-2 align-self-stretch" :key="product.id">
                        <img :src="product.img" class="card-img-top product-img" alt="" :title="product.title">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ product.title }}</h5>
                            
                            <p class="card-text">{{ product.description }}</p>
                        </div>
                        <div>
                            <div class="d-flex justify-content-between align-items-baseline card-footer " >
                                <p v-if="product.stock == 0" class="text-danger" style="font-weight:bold ;">In Stock : {{ product.stock }}</p>
                                <p v-else-if="product.stock < 5" class="text-warning" style="font-weight:bold ;">In Stock : {{ product.stock }}</p>
                                <p v-else class="text-success" style="font-weight:bold ;">In Stock : {{ product.stock }}</p>
                                <button v-if="product.stock > 0" :id="product.id" class="btn btn-primary" v-on:click="addProductToCart">Add to cart!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else="isvisable = true" id="cart-section">
                <table v-if="Object.keys(cart.items).length > 0" class="table table-striped">
                    <thead>
                        <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Name</th>
                          <th scope="col">Price</th>
                          <th scope="col">Total</th>
                          <th scope="col">Quantity</th>
                          <th scope="col">Add | Remove</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr v-for="(value, key) in cart.items" :key="key">
                            <td>{{ key }}</td>
                            <td>{{ products[key - 1].title }}</td>
                            <td>{{ products[key - 1].price }}$</td>
                            <td>{{ products[key - 1].price * value * 1 }}$</td>
                            <td>{{ value }}</td>
                            <td>

                                
                                <img v-if="products[key - 1].stock" :id="key" class="controllers-svg mx-2 point" v-on:click="addProductToCart" src="https://th.bing.com/th/id/R.5e81955fdc0b036f2b9718e8787bb84d?rik=FCgXlTOJRQXx7w&pid=ImgRaw&r=0" alt="Add" >
                                <img :id="key" class="controllers-svg mx-2 point" v-on:click="removeProductFromCart" src="https://th.bing.com/th/id/R.500a50552716b6085097ae2fd7703cee?rik=u5oewqxOJjx8eA&pid=ImgRaw&r=0" alt="Remove">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p v-else class="text-center text-danger fs-1">You Need To buy Something !</p>
            </div>
        </div>
    </div> 
    <script src="https://unpkg.com/vue@3"></script>
    <script src="products.js"></script>
    <script>
    const App = {
        data() {
          return {
            products,
            isProducts: true,
            isvisable:false,
            cart: {
              totalCost: 0,
              items: {}
            }
          };
        },
        methods: {
          addProductToCart(product) {
              product = this.products[product.target.id - 1];
              if (product.stock == 0) alert('You can\'t add this product to cart !!!');
              else {
                  this.cart.totalCost += product.price * 1;
                  if (this.cart.items[`${product.id}`]) this.cart.items[`${product.id}`] ++;
                  else this.cart.items[`${product.id}`] = 1;
                  this.products[product.id -1].stock --;
              }
          },
          removeProductFromCart(product) {
              product = this.products[product.target.id - 1];
              this.cart.totalCost -= product.price * 1;
              if (this.cart.items[`${product.id}`] == 1) delete this.cart.items[`${product.id}`] ;
              else this.cart.items[`${product.id}`] -= 1;
              this.products[product.id -1].stock ++;
          },
         
        }
      };
      
      Vue.createApp(App).mount("#app");
      </script>
</body>

</html>